.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: linear-gradient(to bottom, var(--primary), var(--primary-dark));
}

.card {
    padding: 120px;
    text-align: center;
    border-radius: 50px;
    width: 650px;
    height: 500px
}

.gradient-text {
    background: linear-gradient(to right, var(--primary), var(--primary-dark));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 120px;
}

.card-text {
    font-size: 24px;
}

.card-info {
    font-size: 22px
}
.navbar {
    margin-bottom: 0 !important
}