@model CompanyEmployeesModel

@{
	Layout = "_layout";
	ViewData["Title"] = "Employees";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CRM Application</title>
	<link rel="stylesheet" href="~/css/style-main.css" />
	<link rel="stylesheet" href="~/css/style-table.css" />
	<link rel="stylesheet" href="~/css/style-radio.css" />

</head>
<body>
	<h1 style="text-align:center"> @Model.Company!.Name</h1>
	@if (Model.Users.Count > 0)
	{
		<div style="display:flex;justify-content:center">
		<table>
			<thead>
				<tr>
					<th>User Name</th>
					<th>User Role</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var user in Model.Users)
				{
					<tr>
						<td><a href="/Auth/Profile/@user.Id">@user.Name</a></td>
						<td>@user.Role!.Name</td>
					</tr>
				}
			</tbody>
		</table>
		</div>
	}
	else
	{
		<h3 style="text-align:center">This company has no users.</h3>
	}
</body>
</html>
