@model CompanyProductsModel

@{
	Layout = "_layout";
	ViewData["Title"] = "Products";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CRM Application</title>
	<link rel="stylesheet" type="text/css" href="/css/style-table.css">

</head>
<body>
	<h3 style="text-align:center">@Model.Company!.Name's Products</h3>
	@if (Model.Products!.Count > 0)
	{
		<div style="display:flex;justify-content:center">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Product product in Model!.Products!)
					{
						<tr>
							<td><a href="/Product/Product/@product.Id">@product.Name</a></td>
							<td>@product.Price</td>
							<td>@product.ProductType!.Name</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
	else
	{
		<h3 style="text-align:center">This company has no products available.</h3>
	}

</body>
</html>
