
table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
    background: linear-gradient(270deg, var(--primary), var(--primary-dark));
    color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.2s;
}
