@keyframes ldio-9foibfdhiza-1 {
    0% {
        top: 37.74px;
        height: 146.52px;
    }

    50% {
        top: 74.37px;
        height: 73.26px;
    }

    100% {
        top: 74.37px;
        height: 73.26px;
    }
}

@keyframes ldio-9foibfdhiza-2 {
    0% {
        top: 46.8975px;
        height: 128.205px;
    }

    50% {
        top: 74.37px;
        height: 73.26px;
    }

    100% {
        top: 74.37px;
        height: 73.26px;
    }
}

@keyframes ldio-9foibfdhiza-3 {
    0% {
        top: 56.05500000000001px;
        height: 109.89000000000001px;
    }

    50% {
        top: 74.37px;
        height: 73.26px;
    }

    100% {
        top: 74.37px;
        height: 73.26px;
    }
}
.ldio-9foibfdhiza div {
    position: absolute;
    width: 37.74px;
}

    .ldio-9foibfdhiza div:nth-child(1) {
        left: 36.63px;
        background: #58acf4;
        animation: ldio-9foibfdhiza-1 1.6666666666666667s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        animation-delay: -0.33333333333333337s;
    }

    .ldio-9foibfdhiza div:nth-child(2) {
        left: 92.13000000000001px;
        background: #105edd;
        animation: ldio-9foibfdhiza-2 1.6666666666666667s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        animation-delay: -0.16666666666666669s;
    }

    .ldio-9foibfdhiza div:nth-child(3) {
        left: 147.63000000000002px;
        background: #0b3075;
        animation: ldio-9foibfdhiza-3 1.6666666666666667s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        animation-delay: undefineds;
    }

.loadingio-spinner-pulse-k95rx1sj8s {
    width: 222px;
    height: 222px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-9foibfdhiza {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-9foibfdhiza div {
  box-sizing: content-box;
}